<h1 class="fw-bold font-monospace px-5 text-white">Admin Page</h1>
<div class="card m-5">
    <div class="card-header">
        <h2 class="font-monospace">Users</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of pagedUsers">
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="user.profile_picture" height="50" width="50" alt="profile_picture">
                                <span class="ms-2 fw-semibold">{{ user.first_name }} {{ user.last_name }}</span>
                            </div>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role | titlecase }}</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                <button class="btn btn-primary" (click)="view(user)">View</button>
                                <button class="btn btn-danger" (click)="delete(user)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                
                <nav aria-label="Page navigation example" *ngIf="totalPages > 1">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" 
                            [class.active]="(i + 1) === currentPage">
                            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
                