<div class="frosted-glass-panel p-4 rounded-4">
    <div class="row gx-4 gy-4 px-5">
        <div class="col-4">
            <leaderboard></leaderboard>
        </div>
        <div class="col-4">
            <engagements></engagements>
        </div>
        <div class="col-4">
            <content-hours></content-hours>
        </div>
        <div class="col-12">
            <user-details></user-details>
        </div>
        <div class="col-12">
            <h1 class="fw-semibold">Progress</h1>
            <div class="row justify-content-center gap-5">
                <div class="col-3" *ngFor="let module of modules$ | async; let i = index">
                    <div class="card rounded-4" style="width: 250px;">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                                <span class="fs-3 fw-semibold text-truncate w-75">{{ module.title }}</span>
                                <apx-chart
                                    [series]="chartOptions[i].series"
                                    [colors]="chartOptions[i].colors"
                                    [chart]="chartOptions[i].chart"
                                    [labels]="chartOptions[i].labels"
                                    [plotOptions]="chartOptions[i].plotOptions"
                                    [dataLabels]="chartOptions[i].dataLabels"
                                    [legend]="chartOptions[i].legend"
                                ></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Activity History & Bookmarks Section -->
        <div class="col-12">
            <div class="card rounded-4 w-100">
                <div class="card-body p-4 w-100">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                        <li [ngbNavItem]="1">
                            <button ngbNavLink>Activity History</button>
                            <ng-template ngbNavContent>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped gx-5 gy-5">
                                        <thead class="text-muted fs-7">
                                            <tr>
                                                <th style="width: 450px;">Quiz Name</th>
                                                <th>Date Taken</th>
                                                <th>Duration</th>
                                                <th>Score</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider fs-6" *ngIf="pagedActivities.length > 0">
                                            <tr *ngFor="let activity of pagedActivities">
                                                <td>
                                                    <div class="d-flex align-items-center gap-3">
                                                        <img [src]="activity.activity.image || 'https://pngimg.com/d/question_mark_PNG99.png'" height="50" width="50" alt="activity_picture">
                                                        <span class="ms-2 fw-semibold">{{ activity.activity.title }}</span>
                                                    </div>
                                                </td>
                                                <td>{{ activity.created_at }}</td>
                                                <td>{{ activity.duration }} minutes</td>
                                                <td>{{ activity.score }} points</td>
                                                <td>
                                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                                        <!-- Retake Button -->
                                                        <button class="btn btn-primary" (click)="retakeQuiz(activity.activity.id)">Retake</button>
                                                        <!-- Delete Button -->
                                                        <button class="btn btn-danger" (click)="deleteActivity(activity)">Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="pagedActivities.length === 0">
                                            <tr>
                                                <td colspan="5" class="text-center">No Activity History found.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Pagination -->
                                <nav aria-label="Activity pagination" *ngIf="totalActivityPages > 1">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" [class.disabled]="currentActivityPage === 1">
                                            <a class="page-link" (click)="changeActivityPage(currentActivityPage - 1)">Previous</a>
                                        </li>
                                        <li class="page-item" *ngFor="let page of [].constructor(totalActivityPages); let i = index"
                                            [class.active]="(i + 1) === currentActivityPage">
                                            <a class="page-link" (click)="changeActivityPage(i + 1)">{{ i + 1 }}</a>
                                        </li>
                                        <li class="page-item" [class.disabled]="currentActivityPage === totalActivityPages">
                                            <a class="page-link" (click)="changeActivityPage(currentActivityPage + 1)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </ng-template>
                        </li>

                        <li [ngbNavItem]="2">
                            <button ngbNavLink>Bookmarks</button>
                            <ng-template ngbNavContent>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped gx-5 gy-5">
                                        <thead class="text-muted fs-7">
                                            <tr>
                                                <th style="width: 450px;">Module Name</th>
                                                <th>Date</th>
                                                <th>Page</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider fs-6" *ngIf="pagedBookmarks.length > 0">
                                            <tr *ngFor="let bookmark of pagedBookmarks">
                                                <td>
                                                    <div class="d-flex align-items-center gap-3">
                                                        <img [src]="bookmark.module.image || 'https://pngimg.com/d/question_mark_PNG99.png'" height="50" width="50" alt="module_picture">
                                                        <span class="ms-2 fw-semibold">{{ bookmark.module.title }}</span>
                                                    </div>
                                                </td>
                                                <td>{{ bookmark.created_at }}</td>
                                                <td>{{ bookmark.viewed_lessons }}/{{ bookmark.total_lessons }}</td>
                                                <td>
                                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                                        <!-- View Button -->
                                                        <button class="btn btn-primary" (click)="viewModule(bookmark.module.id)">View</button>
                                                        <!-- Delete Button -->
                                                        <button class="btn btn-danger" (click)="activity ? deleteActivity(activity) : null">Delete</button>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="pagedBookmarks.length === 0">
                                            <tr>
                                                <td colspan="4" class="text-center">No Bookmarks found.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Pagination -->
                                <nav aria-label="Bookmark pagination" *ngIf="totalBookmarkPages > 1">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" [class.disabled]="currentBookmarkPage === 1">
                                            <a class="page-link" (click)="changeBookmarkPage(currentBookmarkPage - 1)">Previous</a>
                                        </li>
                                        <li class="page-item" *ngFor="let page of [].constructor(totalBookmarkPages); let i = index"
                                            [class.active]="(i + 1) === currentBookmarkPage">
                                            <a class="page-link" (click)="changeBookmarkPage(i + 1)">{{ i + 1 }}</a>
                                        </li>
                                        <li class="page-item" [class.disabled]="currentBookmarkPage === totalBookmarkPages">
                                            <a class="page-link" (click)="changeBookmarkPage(currentBookmarkPage + 1)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
